
#root {
    display: flex;
    flex-direction: column;
    max-width: 1017px;
    min-height: 100vh;
    margin: 0 auto;
}

main {
    flex-grow: 1;
}

.table-header {
    color: #6B7280;
    font-weight: 600;
}

.data-form tr {
    cursor: pointer;
}

.data-form tr:hover {
    background-color: #f4f4f4;
}

.data-form tr:active {
    background-color: #ececec;
}