.validation-error {
    border-color: red;
}

.validation-error::-webkit-input-placeholder {
    color: red
 }

.validation-error + span {
    display: block;
}

.validation-error + span {
    display: block;
}

.validation-error-message {
    display: none;
    color: red;
}